.panelStyle {
    background-image: url("../img/woodPanel3.jpg");
    border-radius: 35px;
    height: 760px;
    background-size: 100;
}

#panelRight {
    margin-top: 0px;
}

body {
    background-image: url("../img/woodBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

#submitButton {
    float: left;
    background: url("../img/woodButton.jpeg");
    box-shadow: 1px 1px 5px grey;
    border: none;
    width: 200px;
    height: 50px;
    margin-left: 25px;
    margin-top: 35px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

#resetButton {
    float: right;
    background: url("../img/woodButton.jpeg");
    box-shadow: 1px 1px 5px grey;
    border: none;
    width: 200px;
    height: 50px;
    margin-right: 25px;
    margin-top: 35px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

#userInput {
    margin-top: -150px;
    margin-bottom: 90px;
}

#userInputName {
    margin-left: 45px;
}

#robotAsk {
    font-family: 'Taprom', cursive;
    color: #1E0000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
    font-size: 30px;
}

#robotAskName {
    font-family: 'Taprom', cursive;
    color: #1E0000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
    font-size: 30px;
}

#robotAskNameDiv {
    margin-top: -240px;
    margin-left: 135px;
}

#robotAskDiv {
    width: 360px;
    margin-left: 35px;
    padding-top: 45px;
    margin-bottom: 180px;
}

#leftRobotDiv {
    background: url("../img/paperPanel.png");
    background-size: cover;
    width: 450px;
    text-align: center;
    margin-left: 45px;
    padding-bottom: 170px;
}

#rightRobotDiv {
    background: url("../img/paperPanel.png");
    background-size: cover;
    width: 480px;
    margin-left: 35px; 
    margin-right: 50px;
    padding-bottom: 670px; 
}

#signDiv {
    background: url("../img/woodSign.png");
    background-size: contain;
    width: 900px;
    margin-left: 80px;
}

#signHeader {
    padding-top: 80px;
    padding-bottom: 90px;
    margin-left: 90px;
    width: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #1E0000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

#mainRow {
    margin-top: 0px;
}

#robotTextOutput {
    text-align: center;
    width: 400px;
    margin-top: -600px;
    margin-left: 80px;
}

#userOutput {
    width: 10em;
    font-size: 16px;
    word-wrap: break-word;
    color: #1E0000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

#panelPinLeft {
    width: 15%;
    padding-top: 15px;
    margin-bottom: -65px;
}

#panelPinRight {
    width: 15%;
    padding-top: 15px;
    margin-left: 200px;
    margin-bottom: -65px;
}

#oilOne {
    margin-left: -70px;
    transform: rotate(120deg);
    width: 600px;
    position: relative;
}

#oilTwo {
    margin-left: 900px;
    transform: rotate(250deg);
    width: 600px;
    position: relative;
}

#mainDiv {
    margin-top: -1100px;
}